<div class="card-domain mat-elevation-z0">
  <div
    #streamList="cdkDropList"
    [cdkDropListData]="activeStreamCards"
    [cdkDropListConnectedTo]="[shelfList]"
    class="card-stream mat-elevation-z1"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <app-task-card *ngFor="let idea of activeStreamCards" class="mat-elevation-z4">
      <app-idea-card
        [taskId]="idea"
      ></app-idea-card>
    </app-task-card>
  </div>
  <div
    #shelfList="cdkDropList"
    [cdkDropListData]="shelfCards"
    [cdkDropListConnectedTo]="[streamList]"
    (cdkDropListEntered)="shelfEnter($event)"
    class="card-shelf"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  ></div>
</div>
